
html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(172, 255, 47, 0.127);
}

a{
    text-decoration:none;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    background-color:green;
    height: 2.5em;
    display:flex;
    border:0.0005vh solid white

}

.navbar a{
    display:flex;
    color: white;
    margin:0 auto;
    justify-content: space-between;
    padding: 0.5em;
    text-align: center;
}

.Contactanos {
text-align: center;
    height: 8em;
}

.Contactanos h2{
    font-size: 5em;
    margin-top: 0em;
    padding: 0.10em;
}
.Contactanos p{
   margin-top: -3.75em;
}

.Correo {
    display:flex;
}

.Correo img{
    height: 34em;
    margin-left: auto;
    margin-top: 1em
}

.Correo h2{
    padding-top: 4em;
    font-size: 2em;
    margin: auto;
}
.Correo h3{
    padding-top: 1em;
    font-size: 3em;
 padding-left: 2em;
}