html{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(172, 255, 47, 0.125)
}

a{
    text-decoration:none;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    background-color:green;
    height: 2.5em;
    display:flex;

}

.navbar a{
    display:flex;
    color: white;
    margin:0 auto;
    justify-content: space-between;
    padding: 0.5em;
    text-align: center;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}